*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 14px;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	--color-text: #b7b7b7;
	--color-bg: #f1f1f1;
	--color-link: #b7b7b7;
	--color-link-hover: #000;
	--color-nav: #000;
	--color-title: #da1061;
	--color-shape: #e4e4e4;
	color: #fff;
	color: var(--color-text);
	background-color: #121212;
	background-color: var(--color-bg);
	font-family: Futura, "futura-pt", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

main {
	width: 680px;
	height: 600px;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}


.slideshow {
	height: 500px;
	display: grid;
	grid-template-rows: calc(500px - 10rem) 5rem;
	grid-template-columns: 100%;
	align-items: center;
	justify-items: center;
}

.slide {
	position: relative;
	min-width: 250px;
	max-width: 500px;
	width: 50vw;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	grid-area: 1 / 1 / 2 / 2;
}

.slide--current {
	opacity: 1;
	pointer-events: auto;
}

.slide__image {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	/*background-size: 1px 1px;*/
}

.slide__image--hidden {
	opacity: 0;
	pointer-events: none;
}

.slide__title {
	margin: 0;
	position: absolute;
	line-height: 1;
	color: var(--color-title);
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	left: calc(50% - 5.25vh);
	font-size: 7vh;
	height: 100%;
	text-align: center;
}

.slide__title span {
	display: inline-block;
	white-space: pre;
}

.slide__title--hidden {
	opacity: 0;
	pointer-events: none;
}

.nav {
	position: relative;
	grid-area: 2 / 1 / 3 / 2;
}

.nav__button {
	border: 0;
	background: none;
	margin: 0 1rem;
	padding: 0;
	display: inline-block;
	color: var(--color-nav);
}

.nav__button:focus {
	outline: none;
}

.deco {
	position: absolute;
}

.deco--bg {
	overflow: hidden;
	opacity: 0;
	background-image: url(../img/noise.png);
	position: absolute;
	height: 300%;
	width: 300%;
	left: -100%;
	top: -100%;
	animation-name: grained;
	animation-iteration-count: infinite;
	animation-duration: 0.5s;
	animation-timing-function: steps(20, end);
	transition: opacity 0.3s;
}


@keyframes grained {
	0% {
		transform: translate(-10%, 10%);
	}

	10% {
		transform: translate(-25%, 0%);
	}

	20% {
		transform: translate(-30%, 10%);
	}

	30% {
		transform: translate(-30%, 30%);
	}

	40% {
		transform: translate(0%,0%);
	}

	50% {
		transform: translate(-15%, 10%);
	}

	60% {
		transform: translate(-20%, 20%);
	}

	70% {
		transform: translate(-5%, 20%);
	}

	80% {
		transform: translate(-25%, 5%);
	}

	90% {
		transform: translate(-30%, 25%);
	}

	100% {
		transform: translate(-10%, 10%);
	}
}

.deco--shape {
	opacity: 0;
	background: var(--color-shape);
	transform-origin: 50% 50%;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 0.15s;
	animation-timing-function: linear;
}

.deco--shape {
	top: 0;
	height: 100vw;
	transform: scale3d(0.2,1,1);
	animation-name: vibrate;
}

.deco--shape-1 {
	animation-delay: 0.05s;
}

@keyframes vibrate {
	0% {
		transform: scale3d(0.2,1,1);
	}

	100% {
		transform: scale3d(1,1,1);
	}
}

.deco--shape-1 {
	width: 5vw;
	left: 15vw;
}

.deco--shape-2 {
	width: 15vw;
	left: 25vw;
}

.show-deco .deco {
	opacity: 1;
}

@media screen and (min-width: 53em) {
	.slideshow {
		padding: 5rem 0 0 0;
		height: 100vh;
		justify-content: center;
		grid-template-columns: auto 0;
		grid-template-rows: calc(100vh - 10rem);
	}

	.nav {
		grid-area: 1 / 2 / 2 / 3;
		width: 12rem;
		align-self: end;
		transform: rotate(90deg) translateY(-2.5rem) translateX(-3rem);
	}

	.slide__title {
		font-size: 11vh;
	}
}
