.signature
	each item in ['back', 'front']
		svg(viewBox="0 0 296 126" class= item)
			g(transform="translate(2, 2)")
				path(d="M103,0 C106.333333,3.66666667 109.166667,7.33333333 111.5,11")
				path(d="M84.5,21 C85.965474,22.6874547 87.465474,23.3541214 89,23 C95.5,21.5 109,16.5 110,19 C112.003022,24.0075543 83.5036867,32.0073734 85.5,36 C86.5,38 112,29 113.5,33 C114.809831,36.4928818 39.5,60.5 28,64.5 C16.5,68.5 0,76.5 0,71.5 C2.79263776e-15,62.9872529 123,41 292.5,38")
				path(d="M97.5,47.5 C101,53.5 97.5,108 95,119.5 C93.3944991,126.885304 84,116.5 87,96 C90,75.5 102.5,58.5 105.5,56.5 C108.5,54.5 111.259828,64.9737921 112,63 C115,55 119,51.5 123.5,52.5 C128,53.5 110.5,74.5 120.5,77.5 C130.5,80.5 137,66.5 131,65.5 C125,64.5 120.45295,67.1271419 122.5,65.5 C130.20295,59.3771419 153.101552,46.6953425 152,50 C151.5,51.5 139.5,62.5 138.5,65.5 C137.5,68.5 151.5,64.5 152.5,62 C153.5,59.5 151.19893,55.6375801 150,57 C145.69893,61.8875801 141.5,72 141.5,75 C141.5,78 145,69.5 148.5,69.5 C152,69.5 152.5,70 158,78")
				path(d="M165,10 C165.666667,11.3333333 167.666667,13 171,15 C172.537537,15.9225224 172.020991,20.6911558 174,23 C180,30 186,34 191.5,32 C197,30 194,22 187.5,25.5 C181,29 160.5,51.5 170,83.5 C171.621234,88.961 159.5,67 162,62 C163.169799,59.6604019 183,49.5 181.5,53.5 C177,63 173,83 213.5,74 C211.5,72 210,69.5 209,66.5")
				path(d="M194.5,46 C195.5,47 196,48.1666667 196,49.5 C196,51.5 190.25,56 192.5,59 C194.75,62 198,62.5 195,66.5 C193,69.1666667 189.333333,72.5 184,76.5")