.title
	.info
		margin: .5em 0 3.5rem
		color: color-gray
		font-size: .875rem
		span
			padding: 0 .5em
		a
			color: color-gray

.content
	p, table, h1, h2, h3, ul, ol, dl, img
		margin: 1.25rem 0

	ul, ol, dl
		margin-left: 1.25rem
	ul li
		list-style: square
		padding-left: .5em
	ol li
		list-style: decimal
		padding-left: .5em

	strong
		font-weight: 600
	em, cite
		font-style: italic

	sup, sub
		position: relative
		vertical-align: baseline
		line-height: 0
		font-size: 0.75em
	sup
		top: -0.5em
	sub
		bottom: -0.2em

	img, video
		display: block
		max-width: 100%
		height: auto
		margin-left: auto
		margin-right: auto

	table
		width: 100%
		border-collapse: collapse
		th
			padding-bottom: .5em
			border-bottom: 2px solid color-border
			font-weight: 600
			text-align: left
			&+th
				padding-left: .5em
		td
			padding: .5em 0
			border-bottom: 1px solid color-border
			&+td
				padding-left: .5em

	blockquote
		padding: 0 2.5rem
		font-style: italic
