.title
	.info
		margin: .5em 0 3.5rem
		color: color-gray
		font-size: .875rem
		span
			padding: 0 .5em
		a
			color: color-gray

.content
	p, table, h1, h2, h3, ul, ol, dl
		margin: 1.25rem 0

	img, video
		display: block
		max-width: 100%
		height: auto
		margin: auto

	table
		width: 100%
		border-collapse: collapse
		th
			padding-bottom: .5em
			border-bottom: 2px solid color-border
			font-weight: 500
			text-align: left
		td
			padding: .5em 0
			border-bottom: 1px solid color-border

	blockquote
		padding: 0 2.5rem
		font-style: italic
