// https://github.com/chriskempson/tomorrow-theme

highlight-background   = darken(color-background, 3%)
highlight-current-line = #efefef
highlight-selection    = #d6d6d6
highlight-foreground   = #4d4d4c
highlight-comment      = #8e908c
highlight-red          = #c82829
highlight-orange       = #f5871f
highlight-yellow       = #eab700
highlight-green        = #718c00
highlight-aqua         = #3e999f
highlight-blue         = #4271ae
highlight-purple       = #8959a8
highlight-gutter-f     = #869194
highlight-gutter-b     = #eff2f3
highlight-deletion     = #fdd
highlight-addition     = #dfd

pre
	white-space: pre-wrap
	word-wrap: break-word

$code-block
	background-color: highlight-background
	margin: 2em 0
	border-radius: 3px
	color: highlight-foreground

.content
	pre, code
		font-family: font-code
	code
		background-color: highlight-background
		padding: 0 .5em
	> pre
		@extend $code-block
		padding: 1rem
		overflow: scroll
		-webkit-overflow-scrolling: touch
		code
			padding: 0

	.highlight
		@extend $code-block
		white-space: pre-wrap
		pre
			margin: 0
			padding: 0
			border: none
			white-space: pre
			word-wrap: normal
			overflow: scroll
			-webkit-overflow-scrolling: touch
			.line
				padding: 0 1rem
				&:first-child
					padding-top: 1rem
				&:last-child
					padding-bottom: 1rem
		table
			width: auto
			margin: 0
		td
			padding: 0 1rem
			border: none
		figcaption
			height: 1em
			line-height: 1em
			margin: 0 1rem 1em
			color: highlight-comment
			a
				float: right
				color: highlight-comment
				&:hover
					color: highlight-comment
		.gutter pre
			padding-right: 1em
			color: color-gray
			text-align: right
		.line
			line-height: 1.4em
		.line.marked
			background-color: highlight-selection

	pre
		.comment
		.title
			color: highlight-comment

		.variable
		.attribute
		.tag
		.regexp
		.ruby .constant
		.xml .tag .title
		.xml .pi
		.xml .doctype
		.html .doctype
		.css .id
		.css .class
		.css .pseudo
			color: highlight-red

		.number
		.preprocessor
		.built_in
		.literal
		.params
		.constant
		.command
			color: highlight-orange

		.class
		.ruby .class .title
		.css .rules .attribute
		.string
		.value
		.inheritance
		.header
		.ruby .symbol
		.xml .cdata
		.special
		.formula
			color: highlight-green

		.css .hexcolor
			color: highlight-aqua

		.function
		.python .decorator
		.python .title
		.ruby .function .title
		.ruby .title .keyword
		.perl .sub
		.javascript .title
		.coffeescript .title
			color: highlight-blue

		.keyword
		.javascript .function
			color: highlight-purple

.content h2 code
	padding: 0 .2em
