.demo-p
	button
		padding: .5em 1em
		background-color: color-background
		border: 1px solid color-border
		border-radius: 3px
		cursor: pointer
		color: color-link
		&:hover
			color: color-link-hover
		&:active
			color: color-link-active

.iframe-wrapper
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: color-background
	z-index: 8
	transform: translate3d(0, 20%, 0) scale3d(.1, .6, 1)
	opacity: 0
	transition: all .3s
	&.open
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
		opacity: 1

	.iframe-btn
		position: absolute
		top: 10%
		right: 0
		height: 42px
		width: 42px
		background-color: color-background
		border-radius: 3px 0 0 3px
		cursor: pointer
		z-index: 10
		box-shadow: -.05rem .05rem .05rem darken(color-background, 9%)
		&::before, &::after
			content: ""
			display: block
			position: absolute
			top: 0
			left: 0
			width: 22px
			height: 2px
			background-color: color-gray
			transform-origin: 21px 21px
		&::before
			transform: rotate(45deg) translateX(10px) translateY(20px)
		&::after
			transform: rotate(-45deg) translateX(10px) translateY(20px)

	iframe
		width: 100%
		min-height: 100%