.title
	h3
		margin: .25rem 0 2.5rem
		color: color-gray
.list
	.item
		margin-bottom: 1.5rem
		padding-bottom: 1.5rem
		border-bottom: 1px dotted color-border
		.info
			margin-bottom: .5em
			color: color-gray
			font-size: .875rem
			span
				padding: 0 .5em
			a
				color: color-gray
		h3 a
			color: color-text
		.info, h3
			a
				&:hover
					color: color-link-hover
				&:active
					color: color-link-active