.signature
	display: inline-block
	position: relative
	width: 100px
	height: 43px
	svg
		position: absolute
		top: 0
		left: 0
		path
			fill: none
			stroke-linecap: round
			stroke-linejoin: round
			transition-property: stroke-dashoffset
		&.back
			stroke: color-gray
			stroke-width: 2
			z-index: 1
		&.front
			stroke: color-text
			stroke-width: 3
			z-index: 2
			path:nth-child
				&(1)
					stroke-dashoffset: 13.918357849121094
					stroke-dasharray: 13.918357849121094
					transition-duration: .05s
					transition-delay: .6s
				&(2)
					stroke-dashoffset: 504.87762451171875
					stroke-dasharray: 504.87762451171875
					transition-duration: .3s
					transition-delay: .3s
				&(3)
					stroke-dashoffset: 356.64520263671875
					stroke-dasharray: 356.64520263671875
					transition-duration: .2s
					transition-delay: .1s
				&(4)
					stroke-dashoffset: 225.56527709960938
					stroke-dasharray: 225.56527709960938
					transition-duration: .1s
					transition-delay: 0s
				&(5)
					stroke-dashoffset: 38.73527908325195
					stroke-dasharray: 38.73527908325195
					transition-duration: .05s
					transition-delay: -.05s
			&:hover path
				stroke-dashoffset: 0
				&:nth-child
					&(1)
						transition-duration: .1s
						transition-delay: 0s
					&(2)
						transition-duration: 1.0s
						transition-delay: .1s
					&(3)
						transition-duration: .7s
						transition-delay: 1.1s
					&(4)
						transition-duration: .7s
						transition-delay: 1.8s
					&(5)
						transition-duration: .5s
						transition-delay: 2.5s
