@media (max-width: 85em)
	.container
		margin-left: 18.75rem

@media (max-width: 66.25em)
	.container
		width: 71.7%
		margin-left: 28.3%

	header
		width: 28.3%
		margin-left: -28.3%

	header, main
		padding: 1.25rem

	.title
		h3
			margin: .25rem 0 1.5rem
		.info
			margin: .5em 0 2rem

	.list
		.item
			margin-bottom: 1rem
			padding-bottom: 1rem

	.pagination
		margin: 1.5rem 0

@media (max-width: 55em)
	.container
		width: 78.125%
		margin-left: 21.875%

	header
		width: 21.875%
		margin-left: -21.875%

@media (max-width: 48em)
	.container
		width: 100%
		margin-left: 0

	header
		position: relative
		width: 100%
		min-height: auto
		height: 3.125rem
		margin-left: 0
		padding: 0
		border-bottom: 1px solid color-border

	.logo
		position: absolute
		top: 50%
		left: 1.25rem
		transform: translateY(-50%)
		margin-top: 0

	.menu-icon-wrapper
		position: absolute
		top: 50%
		right: .75rem
		transform: translateY(-50%)
		width: 42px
		height: 42px
		margin: 0

	nav
		position: absolute
		top: 4.375rem
		right: 1.25rem
		left: 1.25rem
		padding: 2.5rem 0
		border-radius: 3px
		background-color: darken(color-background, 3%)
		box-shadow: 0 0 .5rem color-gray
		li
			font-size: 1.25rem
