// Config
vendor-prefixes = webkit moz ms o official

// Colors
color-background = #f2f6ed
color-text = #232520
color-gray = #83887c
color-link = #08a8e6
color-link-hover = #0791c6
color-link-active = #0677a2
color-border = #d7dcd2

// Fonts
font-base = "Source Sans Pro", "Helvetica Neue", Arial, sans-serif
font-code = "Source Code Pro", Menlo, Courier, monospace

// Header
logo-width = 32px
logo-height = 32px
